$contact-bg:$white;
$border-col:$black;
.contact-section{
    background: url(../img/contact.png);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    h2{
        text-align: center;
    }
    @include styleSection(150px,150px,$contact-bg);
    .contact-form{
        width: 50%;
        margin: 0 auto;
        .form-group{
            label{
                display: block;
                padding-left: 4px;
            }
            .form-control{
                width: 100%;
                line-height: 3rem;
                margin-bottom: 15px;
                @include radius(5px);
                border: 1px solid $border-col;
            }
        }
    }
}

