$thead-text-color:$white;
$thead-bg-color:$purple;
$even-bg:$white;
$thead-border:$white;
$table-border:$black;
$odd-bg:$light-gray;
.course-section{
   @include styleSection(30px, 30px, transparent);
    table{
        caption{         
        text-align: left;
        font-style: italic;   
        }
        width: 100%;
        border: 1px solid $table-border;
        border-collapse: collapse;      
        td, th, tr{
            border: 1px solid $table-border;
            padding: 10px 5px;
        }
        thead{
            tr{
                color: $thead-text-color;
                background-color: $thead-bg-color;
                th{
                    border: 1px solid $thead-border;
                }
            }
        }
        tbody{
            tr{
                &:nth-child(odd){
                    background-color: $odd-bg;
                }
                &:nth-child(even){
                    background-color: $even-bg;
                }
                &:hover{
                    background-color: darken($even-bg, 10%);
                }
            }
        }
    }
}

