$footer-bg:$purple;
$footer-text:$white;
$footer-link-color:$orange;
$footer-link-hover:$green;
$footer-font:$josefin;
footer{
    font-family: $footer-font;
    font-weight: $font-bold;
    padding: 30px 0;
    background-color: $footer-bg;
    nav{
        margin-bottom: 10px;
        ul{
            list-style: none;
            padding-left: 0;
            
            li{
                a{
                    color: $footer-link-color; 
                    display: block;
                    padding: 5px 0;
                    text-align: center;
                    &:hover, &.active{
                        color: $footer-link-hover;
                    }
                }
            }
        }
    }
    p{
        text-align: center;
        color: $footer-text;
    }
    
}
@media(min-width:768px){
   footer{ 
    nav{     
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                a{
                    color: $footer-link-color; 
                    padding: 5px 10px;
                }
            }
        }
    }
    
} 
}

