$header-bg:$purple;
$header-link-color:$yellow;
$nav-font:$josefin;
$nav-link-hover:$green;
header{

    @include styleSection(20px, 20px, $header-bg);
    .branding{
        text-align: center;
        a{
            color: $header-link-color;
        }
    }
    nav{
        ul{
            list-style: none;
            padding-left: 0;
            li{
                a{
                    display: block;
                    padding: 10px 0;
                    color:$header-link-color;
                    text-align: center;
                    font-family: $nav-font;
                    text-transform: uppercase;
                    font-weight: $font-bold;
                    &:hover,&.active{
                        color: lighten(complement($header-bg),20%);
                    }
                }
                
            }
        }
    }
}
/*header a{
    color: $header-link-color;
}*/
@media(min-width:768px){
    header{
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            nav{
                ul{
                    display: flex;
                    li{
                        a{
                            padding: 5px;
                        }
                    }
                }
            }//nav end
        }//end container
    }//end header
}
@media(min-width:992px){
    header{
        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            nav{
                ul{
                    display: flex;
                    li{
                        a{
                            padding: 5px 10px;
                        }
                    }
                }
            }//nav end
        }//end container
    }//end header
}
