$home-bg:$white;
.home-section{
    @include styleSection(50px, 50px,$home-bg);
    background-image: url(../img/home.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
