$white:#ffffff;
$black:#000000;
$purple:#660066;
$light-gray:#eeeeee;
$red:#e62e00;
$blue:#3399ff;
$green:#008000;
$orange:#ffad33;
$yellow:#ffff33;
$dark-gray:#444444;


$enable-radius:true; //boolean